.FooterWrapper {
  background-color: #093a7a;
  padding-bottom: 50px;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.footer-wrapper__navigation a {
  margin-top: 45px;
  margin-bottom: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #cacaca;
}
.serving-list__items {
  display: flex;
  justify-content: inherit;
  margin-bottom: 25px;
}
.serving-list__items a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #cacaca;
  margin-top: 12px;
  margin-right: 40px;
}
.serving-list__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;

  margin-top: 40px;
  color: #e6e5e5;
}
.serving-list__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #e6e5e5;
  margin-top: 25px;
  margin-bottom: 18px;
}
.last-serving {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.footer-contact__image img {
  margin-top: 30px;
}
.footer-contact__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contact__list {
  margin-top: 25px;
}
.footer-contact__description p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #cacaca;
}
