.collections-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 45px;
  margin-bottom: 100px;
}
.collections-wrapper__description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  padding-right: 50px;
  color: #606060;
}
.collections-wrapper__text {
  width: 55%;
}
.collections-images {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.collections-images img {
  width: 100%;
  height: 100%;
}
.collection-info {
  margin-bottom: 35px;
}
@media only screen and (max-width: 767px) {
  .collections-wrapper {
    display: inline-block;
    margin-top: 30px;
  }
  .collections-wrapper__text {
    width: 100%;
  }
  .collections-wrapper__description {
    font-size: 18px;
    line-height: 26px;
    padding-right: 0px;
  }
  .collections-images {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .collections-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
