@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@300&display=swap");
.services-section {
  display: grid;
  row-gap: 40px;
  column-gap: 20px;
  margin-bottom: 100px;
  grid-template-columns: repeat(3, 1fr);
  padding: 90px 0;
}

.services-section__item {
  display: flex;
  flex-direction: column;
}

.services-section__image {
  width: 100%;
  height: 415px;
}

.services-section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-section__description {
  padding: 25px;
  display: flex;
  min-height: 135px;
  align-items: center;
  background-color: white;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);
}
.services-section__description h4 {
  width: 100%;
  display: flex;
  color: black;
  font-size: 14px;
  line-height: 1em;
  font-family: "Nunito";
  font-weight: bold;
  padding-left: 65px;
  position: relative;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.services-section__description h4::before {
  left: 0;
  content: "";
  width: 38px;
  height: 38px;
  margin-top: 6px;
  position: absolute;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  background: url("../../assets/images/arrow-yellow.svg") no-repeat;
  background-size: cover;
}

.services-section__item:hover .services-section__description {
  background-color: #ffc839;
  box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49);
}

.services-section__item:hover .services-section__description h4 {
  padding-left: 88px;
}
.services-section__item:hover .services-section__description h4::before {
  left: 25px;
  background-image: url("../../assets/images/arrow-white.svg");
}
@media only screen and (max-width: 767px) {
  .services-section {
    display: grid;
    grid-row-gap: 40px;
    row-gap: 40px;
    grid-column-gap: 20px;
    column-gap: 20px;
    margin-bottom: 100px;
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 0;
  }
  .services-section__item a {
    display: flex;
    flex-direction: row;
  }
  .services-section__image {
    width: 50%;
    height: 150px;
  }
  .services-section__description {
    min-height: 100px;
    width: 50%;
  }
  .services-section__description h4::before {
    display: none;
  }
  .services-section__description h4 {
    padding-left: 0px;
  }
  .services-section__item:hover .services-section__description h4 {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .services-section {
    display: grid;
    grid-row-gap: 40px;
    row-gap: 40px;
    grid-column-gap: 20px;
    column-gap: 20px;
    margin-bottom: 100px;
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 0;
  }
  .services-section__item a {
    display: flex;
    flex-direction: row;
  }
  .services-section__image {
    width: 50%;
    height: 220px;
  }
  .services-section__description {
    min-height: 170px;
    width: 50%;
  }
  .services-section__description h4::before {
    display: none;
  }
  .services-section__description h4 {
    padding-left: 0px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .half-section__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
