.btn {
  padding: 10px 37px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 40px;
  border: none;
  color: #000000;
  cursor: pointer;
  background-color: #ffc839;
}
@media only screen and (max-width: 767px) {
  .btn {
    padding: 5px 9px;
    font-size: 19px;
    margin-bottom: 20px;
  }
}
