.half-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.half-section__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.half-section__info-item {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
}
.half-section__image {
  width: 425px;
  height: 555px;
  position: relative;
}

.half-section__rectangle {
  top: 60px;
  left: -70px;
  width: 100%;
  z-index: -1;
  position: absolute;
  background: #ffc839;
  height: calc(100% - 125px);
}

.half-section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.half-section__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.info-image {
  width: 92px;
  height: 92px;
}
.half-section__desc h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 40px;
  color: #4a4a4a;
  margin-bottom: 8px;
}
.half-section__desc p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  color: #4a4a4a;
}

@media only screen and (max-width: 767px) {
  .heading-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    color: #323232;
  }
  .half-section {
    width: 100%;
    display: inline-block;
  }
  .half-section__desc h3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    color: #4a4a4a;
    margin-bottom: 5px;
  }
  .half-section__desc p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #4a4a4a;
  }
  .info-image {
    width: 79px;
    height: 50px;
  }
  .half-section__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .half-section__image {
    display: none;
  }
}
